<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Car</title>
  </head>
  <body>
    <form action="/car_added" method="post">
     <label for="car-model">Add a new  car model</label>
     <input id="car-model" name="car-model" type="text">

     <label for="car-price">Add the price</label>
     <input id="car-price" name="car-price" type="text">

     <label for="car-mileage">Add the mileage</label>
     <input id="car-mileage" name="car-mileage" type="text">
     <button type="submit">Submit</button>
   </form>
  </body>
</html>
