<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <h1>You've added a new car!</h1>
    <p>@Model.GetMakeModel()</p>
    <p><a href="/">Add another car</a></p>
    <p><a href="/show_cars">View current tasks</a></p>
  </body>
</html>
